{% extends 'layouts/base2.html' %}
{% load static %}
{% block title %}KANKI | Directorio{% endblock %}
</head>
<body>
    {% block content %}
        <h1 style="overflow-x: visible;">Directorio de Animes</h1>   

        {% include 'components/filtros.html' %}

        {% include 'components/cuadricula.html' %}

        <div class="pagination mx-auto text-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'animes:listado_pagina' 1 %}?{{ tipo }}{{ debut }}&orden={{ orden }}">Primera</a>
                    <a href="{% url 'animes:listado_pagina' page_obj.previous_page_number %}?{{ tipo }}{{ debut }}&orden={{ orden }}">&laquo; Anterior</a>
                {% endif %}
                
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <span class="current-page">{{ i }}</span>
                    {% elif i <= 8 %} {# Muestra páginas hasta 8 #}
                        <a href="{% url 'animes:listado_pagina' i %}?{{ tipo }}{{ debut }}&orden={{ orden }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
            
                {% if page_obj.has_next %}
                    <a href="{% url 'animes:listado_pagina' page_obj.next_page_number %}?{{ tipo }}{{ debut }}&orden={{ orden }}">Siguiente &raquo;</a>
                    <a href="{% url 'animes:listado_pagina' page_obj.paginator.num_pages %}?{{ tipo }}{{ debut }}&orden={{ orden }}">Última</a>
                {% endif %}
            </span>
        </div>
                   
        
    {% endblock %}
    {% block script %}
        <script src="{% static 'js/estados.js' %}"></script>
    {% endblock %}
</body>
</html>


