<!-- anime_card.html -->
{% load static %}
<div class="anime-banner">
    <div class="background-image">
        <img src="{{ datos.0.banner }}" alt="{{ datos.0.titulo }}">
        <div class="detalle-title">
            {{ datos.0.titulo }} <span>{{ datos.0.tipo }}</span>
        </div>
    </div>
    <div class="rating-box">
        <span class="rating">{{ datos.0.rating }}</span>
        <div class="rating-stars">
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star-half-alt gold-star"></i>
            <i class="fas fa-star gold-star"></i>
        </div>
    </div>
</div>

