<!-- anime_card.html -->
{% load static %}
<div class="anime-banner">
    <div class="background-image">
        <img src="{% static 'images/negro.jpg' %}" alt="negro">
        <div class="detalle-title">
            Nombre del Anime <span>OVA</span>
        </div>
    </div>
    <div class="rating-box">
        <span class="rating">4.5</span>
        <div class="rating-stars">
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star-half-alt gold-star"></i>
            <i class="fas fa-star gold-star"></i>
        </div>
    </div>
</div>

