<div class="container mt-5 directorio">
    <!-- Include the AnimeGrid component here -->
    <div class="row">
        <!-- Loop to generate AnimeCard components -->
        {% for anime in resultados %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                <div class="card">
                    <img src="{{ anime.poster }}" class="card-img-top" alt="Anime Image">
                    <div class="card-body">
                        <p class="card-text">{{ anime.type }}</p>
                        <h5 class="card-title">{{ anime.title }}</h5>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:24 %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>