<ul class="anime-items">
    {% for episodio in datos.0.episodios %}
    <li class="anime-item">
            <div class="anime-image">
                <img src="" alt="Nombre del anime" onerror="this.style.display='none'; this.nextElementSibling.style.display='block';">
                <div class="loading-spinner"></div>
            </div>
            <div class="anime-info column">
                <a href="{% url 'episodio' anime_id=datos.0.id episodio=episodio.numero_episodio %}">
                    <h3 class="anime-title">{{ episodio.anime_id.titulo }}</h3>
                </a>
                <a href="{% url 'episodio' anime_id=datos.0.id episodio=episodio.numero_episodio %}" class="link_detalle_anime">
                    <p class="anime-episode">Episodio {{ episodio.numero_episodio }}</p>
                </a>
            </div>
        <div class="anime-slider">
            <input type="checkbox" id="anime-slider-1">
            <label for="anime-slider-1"></label>
        </div>
    </li>
    {% endfor %}
</ul>


