<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5>Contacto</h5>
            <p>Correo electrónico: info@example.com</p>
            <p>Teléfono: (123) 456-7890</p>
        </div>
        <div class="col-md-6">
            <h5>Enlaces</h5>
            <ul class="list-unstyled d-flex flex-wrap">
                <li class="flex-column">
                    <a href="{% url 'index' %}" class="text-light">Inicio</a>
                </li>
                <li class="flex-column">
                    <a href="#" class="text-light">Animes</a>
                </li>
                <li class="flex-column">
                    <a href="#" class="text-light">Categorías</a>
                </li>
                <li class="flex-column">
                    <a href="#" class="text-light">Acerca de</a>
                </li>
            </ul>                
        </div>
    </div>
</div>

    
