<header class="top-bar">
    <div class="logo">
        <img src="" alt="Logo de Anime">
    </div>
    <nav class="navigation">
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'listado' %}">Directorio</a></li>
        </ul>
        <button class="login-button">INGRESAR</button>
    </nav>
    <div class="search-bar">
        <form action="#" method="get">
            <input type="text" name="query" placeholder="Buscar anime...">
            <button type="submit">Buscar</button>
        </form>
    </div>
</header>
