{% load static %}
<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container container-header">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa-solid fa-bars" style="color: #000000;"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/1.jpg' %}" alt="Logo de Anime" class="logo-img img-fluid logo" id="logo">
        </a>
        <div class="collapse navbar-collapse navbar-directori" id="navbarNav">
            <ul class="navbar-nav text-header listado-anime">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'animes:listado' %}">Listado Anime</a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center navbar-search">
            <form class="d-flex" action="{% url 'animes:buscar_animes' %}" method="get">
                <input class="form-control me-2 busqueda" id="inputBusqueda" type="search" name="q" placeholder="Buscar anime..." aria-label="Search">
                <button class="btn btn-success busqueda" id="busqueda" type="submit">Buscar</button>
                <button class="busqueda-menor btn btn-success" id="botonBusquedaMenor" type="menu"><span class="fa-solid fa-magnifying-glass busqueda-menor"></span></button>
                <input type="hidden" name="page" value="{{ page.number }}">
            </form>            
            <button class="btn btn-primary ms-3 btn-login" id="showLoginBtn">Iniciar Sesión</button>
            <button class="btn btn-primary ms-3 btn-login-2" id="showLoginBtn2"><span class="fa-solid fa-circle-user"></span></button>
        </div>
    </div>
</header>


