<div class="anime-details">
    <div class="synopsis">
        <h2 style="overflow: hidden;">Sinopsis</h2>
        <p>{{ datos.0.sinopsis }}</p>
        <h2 style="overflow: hidden;">Géneros</h2>
        <ul class="generos">
            {% for genero in datos.0.generos %}
            <li>{{ genero.nombre_genero }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="episode-list">
        <div class="episode-filter">
            <h2>Lista de Episodios</h2>
            <label for="order">Ordenar por:</label>
            <select id="order">
                <option value="asc">Ascendente</option>
                <option value="desc">Descendente</option>
            </select>
            <input type="text" id="episode-search" placeholder="Buscar episodio">
        </div>
        <div class="anime-list">
            {% include 'components/episodio_link.html' %}
        </div>        
    </div>
</div>
