<div class="anime-details">
    <div class="synopsis">
        <h2 style="overflow: hidden;">Sinopsis</h2>
        <p>Texto de la sinopsis del anime...</p>
        <h2 style="overflow: hidden;">Géneros</h2>
        <ul class="generos">
            <li>Género 1</li>
            <li>Género 2</li>
            <!-- Agrega más géneros aquí -->
        </ul>
    </div>
    <div class="episode-list">
        <div class="episode-filter">
            <h2>Lista de Episodios</h2>
            <label for="order">Ordenar por:</label>
            <select id="order">
                <option value="asc">Ascendente</option>
                <option value="desc">Descendente</option>
            </select>
            <input type="text" id="episode-search" placeholder="Buscar episodio">
        </div>
        <div class="episode-items">
            <!-- Aquí se generarán dinámicamente los elementos de la lista de episodios -->
        </div>
    </div>
</div>
