<div class="container mt-5 container-login">
    <div class="row justify-content-center">
        <div class="col-md-6 offset-md-6">
            <div class="card" id="loginCard">
                <div class="card-header">
                    Iniciar Sesión
                </div>
                {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
                {% endif %}               
                <div class="card-body">
                    <form id="login-form" method="post">
                        {% csrf_token %}
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </form>
                </div>
                <div class="card-footer">
                    <p class="mb-0">¿No tienes una cuenta? <a href="{% url 'usuarios:register' %}" class="text-primary">Regístrate aquí</a></p>
                    <p class="mb-0"><a href="#" class="text-primary">¿Olvidaste tu contraseña?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>