<nav class="navbar navbar-expand-lg navbar-light bg-light menu_lateral collapse" id="sidebar">
    <div class="collapse navbar-collapse" id="sidebar">
        <ul class="navbar-nav flex-column"> <!-- Cambiado a flex-column para apilar verticalmente los elementos -->
            <li class="nav-item">
                <button class="nav-link btn btn-block text-start py-3" href="{% url 'index' %}">
                    <i class="fas fa-home"></i> Inicio <!-- Icono de casa para "Inicio" -->
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn text-start py-3" href="#">
                    <i class="fas fa-list-alt"></i> Listado de Anime <!-- Icono de lista para "Listado de Anime" -->
                </button>
            </li>
            <!-- Agrega más elementos de menú aquí -->
        </ul>
    </div>
</nav>

