<div class="anime-component">
    <div class="anime-poster">
        <img src="{{ datos.0.poster }}" alt="{{ datos.0.title }}" width="260" height="370">
    </div>
    <div class="anime-status">
        {% if datos.0.debut == "en emision"%}
            <div class="status-box airing"><i class="fas fa-tv"></i> En Emisión</div>
        {% elif datos.0.debut == "finalizado" %}
            <div class="status-box finished"><i class="fas fa-check"></i> Finalizado</div>
        {% elif datos.0.debut == "proximamente" %}
            <div class="status-box upcoming"><i class="fas fa-calendar-alt"></i> Próximamente</div>
        {% else %}
            <div class="status-box finished"><i class="fas fa-check"></i> Finalizado</div>
        {% endif %}
        <button class="favorite-button"><i class="fas fa-heart"></i> Agregar a Favoritos</button>
    </div>
    <div class="plan-to-watch-buttons">
        <h4>AGREGAR ANIME A:</h4>
        <div class="button-pair">
            <button class="btn-poster planeados-button"><i class="fas fa-plus"></i> Planeados</button>
            <button class="btn-poster en-proceso-button"><i class="fas fa-plus"></i> En Proceso</button>
        </div>
        <div class="button-pair">
            <button class="btn-poster abandonados-button"><i class="fas fa-plus"></i> Abandonados</button>
            <button class="btn-poster completados-button"><i class="fas fa-plus"></i> Completados</button>
        </div>
        <div class="single-button">
            <button class="btn-poster en-espera-button"><i class="fas fa-plus"></i> En espera</button>
        </div>
    </div>    
</div>


