<!-- anime_card.html -->
{% load static %}
<div class="anime-banner">
    <div class="anime-poster" style="max-width: 260px;">
        <img src="https://www3.animeflv.net/uploads/animes/covers/3856.jpg" alt="nombre_del_anime">
    </div>
    <div class="background-image">
        <img src="{% static 'images/negro.jpg' %}" alt="negro">
    </div>
    <div class="rating-box">
        <span class="rating">4.5</span>
        <div class="rating-stars">
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star gold-star"></i>
            <i class="fas fa-star-half-alt gold-star"></i>
            <i class="fas fa-star gold-star"></i>
        </div>
    </div>
    <div class="detalle-title">
        Nombre del Anime
    </div>
</div>



