<div class="anime-component">
    <div class="anime-poster">
        <img src="{{ datos.0.poster }}" alt="{{ datos.0.title }}" width="260" height="370">
    </div>
    <div class="anime-status">
        {% if datos.0.debut == "en emision"%}
            <div class="status-box airing"><i class="fas fa-tv"></i> En Emisión</div>
        {% elif datos.0.debut == "finalizado" %}
            <div class="status-box finished"><i class="fas fa-check"></i> Finalizado</div>
        {% elif datos.0.debut == "proximamente" %}
            <div class="status-box upcoming"><i class="fas fa-calendar-alt"></i> Próximamente</div>
        {% else %}
            <div class="status-box finished"><i class="fas fa-check"></i> Finalizado</div>
        {% endif %}
    </div>
    <div class="anime-buttons">
        <button class="favorite-button"><i class="fas fa-heart"></i> Agregar a Favoritos</button>
        <button class="follow-button"><i class="fas fa-eye"></i> Seguir Anime</button>
    </div>
    <div class="plan-to-watch-button">
        <button><i class="fas fa-plus"></i> Poner en Planeados</button>
    </div>
</div>


