<!-- slider.html -->
<div id="slider" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#slider" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#slider" data-bs-slide-to="1"></li>
        <li data-bs-target="#slider" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="static/images/20.jpg" class="d-block w-100" alt="Imagen 1">
            <div class="carousel-caption">
                <h5>En Dragon ball Z Goku se ha convertido en un adulto y está casado con Milk, con la que tiene un hijo llamado Gohan. En esta segunda saga de Dragon ball Goku descubrirá que no es un terricola, sino que pertenece a una raza de guerreros conocida por ser una de las más poderosas de la galaxia, para posteriormente dar paso a los verdaderos enemigos de la serie. Para poder vencer a los nuevos enemigos que irán surgiendo, Goku y sus amigos tendrán que viajar por otros planetas e incluso al cielo y al infierno. Cada enemigo será más fuerte que el anterior, por lo que tendrán que entrenar muy duro para poder derrotarlos además de que se les irán uniendo nuevos personajes que les ayudarán a vencerlos.</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="static/images/21.jpg" class="d-block w-100" alt="Imagen 2">
            <div class="carousel-caption">
                <h5>Subtítulo Imagen 2</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="static/images/22.jpg" class="d-block w-100" alt="Imagen 3">
            <div class="carousel-caption">
                <h5>Subtítulo Imagen 3</h5>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#slider" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black;"></span>
        <span class="visually-hidden">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#slider" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="color: black;"></span>
        <span class="visually-hidden">Siguiente</span>
    </a>
</div>
