/* Estilos para ocultar los botones en pantallas no móviles */
.mobile-buttons {
    display: none;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .mobile-buttons {
        display: block; /* Mostrar los botones en pantallas móviles */
        text-align: center;
        margin-bottom: 20px;
        background-color: #f2f2f2;
        border: none;
        padding: 10px 0px;
        margin: 5px 0px;
        cursor: pointer;
    }

    .mobile-buttons .mobile-button {
        min-width: min-content;
        font-size: 14px;
        min-height: 100%;
    }

    .mobile-button.active {
        background-color: #3498db;
        color: white;
    }

    /* Estilos para las columnas y la lista de anime */
    .col-md-2,
    .lastest-animes {
        width: 100vw !important;
        align-items: center;
        justify-content: center;
    }

    .anime-list {
        max-width: 90vh;
        width: 100%;
    }

    .col-md-8 .last-anime .anime-list .row {
        padding-left: 1vh;
    }

    /* Estilos para las tarjetas de anime */
    .card {
        width: 85% !important;
        margin: 0;
    }

    .card-img-top {
        width: 100% !important;
        height: auto !important;
        object-fit: contain;
    }
}
