h1 {
    padding-left: 5vw;
    margin-top: 2vh;
}

/* Estilos personalizados para las tarjetas de anime en el directorio */
.container.directorio {
    padding: 20px; /* Espacio interno para el contenedor */
    margin-top: 0 !important;
}

.container.directorio .card {
    position: relative; /* Asegura que la posición absoluta sea relativa a la tarjeta */
    border: 1px solid #888 !important;
    border-radius: 10px;
    background-color: #f5f5f5;
    height: 100%;
}

.card .card-img-top {
    transition: transform 0.2s;
}

.card .card-img-top:hover {
    transform: scale(1.05);
}

.card .card-body {
    padding: 10px;
}

.card-title {
    max-height: 2.3em; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0; 
}

.card .card-text {
    font-size: 14px;
    color: #888;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination span {
    text-align: center;
}

.pagination span * {
    padding-left: 10px;
    padding-right: 10px;
}

form.filtros {
    background-color: #ebebeb;
    max-width: 90vw;
    align-self: center;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 1wv;
    padding-right: 1vw;
    border-radius: 2%;
}

form.filtros div.col-md-2 {
    max-width: 25%;
    margin-left: 0vw;
    margin-right: 0vw;
    padding-right: 0;
}

.apply-filter {
    max-width: 10%;
    margin: 0 !important;
    padding: 0;
    align-items: center;
    vertical-align: bottom;
}

.apply-filter button {
    margin-top: 16%;
    margin-bottom: 16%;
}