header {
    border-bottom: 1px solid #000000;
    position: fixed;
    transition: top 0.3s;
    z-index: 1000;
}

.navbar {
    padding: 0px;
}

.logo {
    width: 100%;
    height: auto;
    margin-left: 0.1%;
    border-radius: 40%;
    padding: 5% 0%;
    padding-left: 1%;
}

.navbar-brand {
    width: 6%;
    padding: 0;
    margin: 0;
}

.container-header {
    min-width: 100%;
    height: auto;
}

.text-header {
    margin-left: 10%;
}

.text-header li a {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10%;
}

.busqueda-menor {
    display: none;
}

.btn-login {
    display: inline-block;
}

.btn-login-2 {
    display: none;
}

.nav-link {
    width: max-content;
}


/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    /* Agrega aquí tus estilos para celulares */
    .navbar-toggler {
        order: 1;
    }
    
    .navbar-brand {
        order: 2;
        width: 15%;
    }

    .logo {
        width: 100%;
    }

    .navbar-collapse {
        order: 4;
    }

    .navbar-search {
        order: 3;
    }
    
    .busqueda {
        display: none;
    }

    .busqueda-menor {
        display: inline-block;
    }

    .btn-login {
        display: none;
    }

    .btn-login-2 {
        display: inline-block;
    }

}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Agrega aquí tus estilos para tabletas */
    .busqueda-2 {
        display: none;
    }
}

/* Estilos para computadoras */
@media (min-width: 1024px) and (max-width: 1919px) {
    /* Agrega aquí tus estilos para computadoras */
    .busqueda-2 {
        display: none;
    }
}

/* Estilos para televisores */
@media (min-width: 1920px) {
    /* Agrega aquí tus estilos para televisores */
    .busqueda-2 {
        display: none;
    }
}
