header {
    border-bottom: 1px solid #000000;
    position: fixed;
    transition: top 0.3s;
    z-index: 1000;
}

header ul.listado-anime li a {
    padding-right: 1.2vw !important;
}

.navbar {
    padding: 0px;
}

.logo {
    width: 100%;
    height: auto;
    margin-left: 0.1%;
    border-radius: 40%;
    padding: 5% 0%;
    padding-left: 1%;
}

.navbar-brand {
    width: 6%;
    padding: 0;
    margin: 0;
}

.container-header {
    min-width: 100%;
    height: auto;
}

.text-header {
    margin-left: 10%;
}

.text-header li a {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10%;
}

.busqueda-menor {
    display: none;
}

.btn-login {
    display: inline-block;
}

.btn-login-2 {
    display: none;
}

.nav-link {
    width: max-content;
}


/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    /* Agrega aquí tus estilos para celulares */
    .container-header {
        padding: 0;
    }

    .navbar-toggler {
        order: 1;
    }
    
    .navbar-brand {
        order: 2;
        width: 15%;
    }

    .logo {
        width: 100%;
    }

    .navbar-collapse {
        order: 4;
    }

    .navbar-search {
        order: 2;
    }

    .busqueda {
        display: none;
        width: 13vw;
        padding: 0 ;
    }

    .busqueda-menor {
        display: inline-block;
        width: 10vw;
        padding-left: 0;
        padding-right: 0;
    }

    .btn-login {
        display: none;
    }

    .btn-login-2 {
        display: inline-block;
        margin-left: 0 !important;
    }

    .navbar-search * {
        font-size: 10px !important;
        right: 0 !important;
    }

    #inputBusqueda {
        width: 37vw !important;
        margin-right: 0 !important;
    }

    header {
        align-items: end;
    }

    .navbar-search form {
        max-width: min-content;
    }
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Agrega aquí tus estilos para tabletas */
    .busqueda-2 {
        display: none;
    }

    .navbar-search * {
        font-size: 12px !important;
    }

    .btn-login {
        margin: 1vw !important;
    }

}

/* Estilos para computadoras */
@media (min-width: 1024px) and (max-width: 1919px) {
    /* Agrega aquí tus estilos para computadoras */
    .busqueda-2 {
        display: none;
    }

    .navbar-search * {
        font-size: 1vw !important;
    }

    .navbar-directori *{
        font-size: 1.2vw !important;
    }

    .logo {
        width: 5vw;
    }

    #busqueda {
        width: min-content;
        padding-right: 2vw !important;
        padding-left: 1vw !important;
    }
}

/* Estilos para televisores */
@media (min-width: 1920px) {
    /* Agrega aquí tus estilos para televisores */
    .busqueda-2 {
        display: none;
    }

    .navbar-search * {
        font-size: 1.3vw !important;
    }

    .navbar-directori *{
        font-size: 1.8vw !important;
    }

}
