/* Estilo de .anime-details */
.anime-details {
    width: 80%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo de .synopsis y .episode-list */
.synopsis, .episode-list {
    width: 100%; /* Divide la columna en dos partes */
    float: left;
    margin-right: 2%; /* Agrega un pequeño margen derecho entre rectángulos */
    background-color: #e7e7e7; /* Cambia al color deseado */
    border-radius: 15px; /* Bordes semicirculares */
    margin-bottom: 20px; /* Aumenta el espacio inferior */
    padding: 15px; /* Añade espacio interior */
    border: 1px #ab96af solid; /* Borde inicial transparente */
}

.synopsis h2, .episode-list h2 {
    font-size: 24px; /* Aumenta el tamaño del título */
    margin-top: 0;
    color: var(--color-primary); /* Cambia al color deseado */
}

.synopsis p, .synopsis li {
    font-size: 16px; /* Tamaño de fuente del texto */
    line-height: 1.5; /* Espaciado entre líneas para mejor legibilidad */
    color: #333; /* Color de texto predeterminado */
}

/* Estilo de la lista de géneros */
.synopsis ul {
    list-style: none;
    padding: 0;
}

.synopsis ul.generos li {
    font-size: 16px;
    padding: 5px 10px; /* Espaciado interno para los géneros */
    border-radius: 20px; /* Bordes semicirculares para los géneros */
    background-color: var(--color-cuartenary); /* Color de fondo para los géneros */
    color: var(--color-primary); /* Color del texto para los géneros */
    display: inline-block;
    margin-right: 10px; /* Espacio entre géneros */
    margin-bottom: 10px; /* Espacio inferior entre géneros */
}

.synopsis ul.generos li:hover {
    background-color: var(--color-primary);
    color: #ffffff;
}

.episode-item {
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px; /* Aumenta el espacio interior */
    margin-bottom: 20px; /* Aumenta el espacio inferior entre episodios */
    box-sizing: border-box;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
}

.episode-image {
    width: 110px;
    height: 60px;
    overflow: hidden;
    margin-right: 20px; /* Aumenta el espacio entre la imagen y el texto */
    border-radius: 10px; /* Bordes semicirculares para la imagen */
}

.episode-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.episode-info {
    flex-grow: 1; /* El texto ocupa todo el espacio restante */
}

.episode-title {
    font-size: 18px;
    margin: 0;
    color: var(--color-primary); /* Cambia al color deseado */
}

.episode-watched {
    font-size: 14px;
    margin-top: 5px;
    color: #555; /* Color de texto más claro para el estado visto/no visto */
}

.anime-content {
    display: flex;
    justify-content: space-between; /* Coloca .anime-component y .anime-details en lados opuestos */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
}

.episode-filter {
    margin-top: 5px;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.episode-filter h2 {
    overflow: hidden;
    margin-right: 29%;
    font-size: 24px;
    color: var(--color-primary);
}

.episode-filter label {
    font-size: 16px;
    margin-right: 10px;
}

.episode-filter select {
    width: auto;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.episode-filter input[type="text"] {
    width: auto;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 1vw;
}

.anime-list {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    max-height: 80vh;
}

.anime-items {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.anime-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 0;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.anime-image {
    width: 110px;
    height: 60px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 5px;
}

.anime-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.anime-info {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column; /* Cambio a dirección de columna */
}

.anime-title {
    font-size: 15px;
    margin: 0;
    padding-left: 0 !important;
}

.anime-episode {
    font-size: 13px;
    color: #888;
}

.anime-slider {
    margin-left: auto;
}

.anime-slider input[type="checkbox"] {
    display: none;
}

.anime-slider label {
    display: inline-block;
    width: 40px; /* Aumenta el ancho */
    height: 20px; /* Mantiene la altura */
    background-color: #ccc; /* Color cuando está apagado */
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s; /* Animación de color */
}

.anime-slider input[type="checkbox"]:checked + label {
    background-color: var(--color-primary); /* Cambia al color deseado cuando está activado */
}

.anime-slider label::before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #fff; /* Color del control */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    transition: 0.2s;
}

.anime-slider input[type="checkbox"]:checked + label::before {
    left: calc(100% - 18px);
}

.loading-spinner {
    width: 60px;
    height: 60px;
    border: 5px solid #ccc;
    border-top: 5px solid var(--color-primary); /* Cambia al color deseado */
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Animación de giro */
    display: none; /* Inicialmente oculto */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

