:root {
    --color-background: #f5f5f5;
    --color-primary: #591778;      /* Morado suave */
    --color-secondary: #0C0D11;    /* Gris oscuro */
    --color-tertiary: #40423C;     /* Amarillo vibrante */
    --color-cuartenary: #9F3BC0;
    --color-quint: #757470;
    --color-text: #333;
    --color-text-morado: #ffffff;
    --color-link: var(--color-primary);
    --color-button-bg: var(--color-primary);
    --color-button-text: #fff;
}

body {
    height: 100%;
    width: 100%;
}

header div{
    margin: 0;
}

header div .navbar-directori ul li a {
    color: var(--color-text-morado);
}

.container-header {
    background-color: var(--color-primary);
}

.content {
    display: flex;
}

.page-content {
    flex-grow: 1;
    padding: 0px;
    width: 100%;
    position: absolute;
}

.menu_lateral {
    position: absolute;
    background-color: var(--color-primary) !important;
    border-right: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    z-index: 99999;
}