body {
    background-color: #f2f2f2; /* Fondo gris claro */
}

main {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px; /* Espacio interno para separar el contenido del borde */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    margin: 20px auto; /* Centrar el contenido verticalmente */
    max-width: 600px; /* Ancho máximo del contenido */
}

.text-center {
    padding-bottom: 5%;
    text-align: center;
}

.align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-group {
    margin-bottom: 20px; /* Espacio entre los campos */
}

.form-control {
    margin-bottom: 10px; /* Espaciado inferior para los campos */
}

.btn-form {
    margin-top: 20px; /* Espacio superior para el botón */
}

.enlaces {
    text-decoration: none;
}

.input-avatar {
    width: 100%;
    margin-bottom: 10px; /* Espaciado inferior para el input de avatar */
    display: flex; /* Alinea el input y la imagen horizontalmente */
    align-items: center; /* Alinea verticalmente al centro */
}

.input-avatar input {
    flex: 1; /* Hace que el input ocupe todo el espacio restante */
    margin-right: 10px; /* Espacio derecho entre el input y la imagen */
}

.img-thumbnail {
    width: 130px;
    height: 130px;
    object-fit: cover; /* Mantiene la relación de aspecto y cubre el espacio */
    border-radius: 50%; /* Borde redondeado para una apariencia más agradable */
}

/* Estilos para el formulario de mensajes de error */
.invalid-feedback {
    color: #dc3545; /* Color de texto para mensajes de error */
    display: block;
    margin-top: 5px; /* Espacio superior para los mensajes de error */
}
