{% extends 'components/grid_animes_usuarios.html' %}
{% block title %}
<h1 class="estados-title">FAVORITOS</h1>
{% endblock %}

{% block query %}
    <form name="form-estados" method="post" id="form-favoritos" enctype="multipart/form-data" >
        {% csrf_token %}
        {% include 'components/menu-desplegable-estado.html' %}
        <input type="hidden" name="form-estados">
        <input type="hidden" name="estado_inicial" value="Favoritos">
        <div class="container">
            <div class="row">
                {% for anime in context_favorito %}
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
                        <a href="{% url 'animes:detalle_anime' anime.id %}" class="link_detalle_anime">
                            <div class="card">
                                <img src="{{ anime.poster }}" class="card-img-top" alt="Anime Image">
                                <!-- Mueve la casilla de verificación a la esquina superior derecha -->
                                <input type="checkbox" class="anime-checkbox" name="selected_animes" value="{{ anime.id }}" style="position: absolute; top: 10px; right: 10px;">
                                <div class="card-body">
                                    <p class="card-text">{{ anime.type }}</p>
                                    <h5 class="card-title">{{ anime.title }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:24 %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}


{% block pagination %}
    {% if context_planeado.has_previous or context_favorito.has_next %}
        <span class="step-links">
            {% if context_favorito.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ context_favorito.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Página {{ context_favorito.number }} de {{ context_favorito.paginator.num_pages }}.
            </span>

            {% if context_favorito.has_next %}
                <a href="?page={{ context_favorito.next_page_number }}">next</a>
                <a href="?page={{ context_favorito.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    {% endif %}
{% endblock %}