{% load static %}
<div class="container mt-5 directorio">
    <div class="d-flex justify-content-between align-items-center" style="overflow-x: unset;">
        <div>
            {% block title %}
            {% endblock %}
        </div>
    </div>

    <!-- Include the AnimeGrid component here -->
    <div class="row">
        <!-- Loop to generate AnimeCard components -->
        {% block query %}
        {% endblock %}
    </div>

    <!-- Pagination buttons -->
    <div class="usuarios_pagination mt-3">
        {% block pagination %}
        {% endblock %}
    </div>
</div>

