<!-- Menú desplegable para seleccionar el estado del anime -->
<div class="dropdown" style="margin-top: 2vh; overflow-x: unset !important;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Seleccionar Estado
    </button>
    <ul class="dropdown-menu" style="overflow-x: unset;">
        <li><a class="dropdown-item" href="#">Favoritos</a></li>
        <li><a class="dropdown-item" href="#">Planeados</a></li>
        <li><a class="dropdown-item" href="#">En Proceso</a></li>
        <li><a class="dropdown-item" href="#">Abandonados</a></li>
        <li><a class="dropdown-item" href="#">Completados</a></li>
        <li><a class="dropdown-item" href="#">En Espera</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Eliminar</a></li>
    </ul>
</div>




