<nav id="sidebar" class="bg-light col-md-3" style="height: 100vh; width: 250px;">
    <div class="position-sticky">
        <ul class="nav nav-perfil flex-column">
            <li class="nav-item">
                <a class="nav-link nav-link-usuarios nav-link-perfil active" href="#" data-target="perfil">
                    <i class="fas fa-user"></i> Perfil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-usuarios" href="#" data-target="favoritos">
                    <i class="fas fa-heart"></i> Favoritos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-usuarios" href="#" data-target="planeados">
                    <i class="fas fa-calendar-alt"></i> Animes Planeados
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-usuarios" href="#" data-target="proceso">
                    <i class="fas fa-cogs"></i> Animes en Proceso
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-usuarios" href="#" data-target="completados">
                    <i class="fas fa-check-circle"></i> Animes Completados
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-usuarios" href="#" data-target="abandonados">
                    <i class="fas fa-ban"></i> Animes Abandonados
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-usuarios" href="#" data-target="espera">
                    <i class="fas fa-clock"></i> Animes en Espera
                </a>
            </li>
        </ul>
    </div>
</nav>


