<nav id="sidebar" class="bg-light col-md-3" style="height: 100vh; width: 250px;">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <i class="fas fa-user"></i> Perfil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="anime_planeados.html">
                    <i class="fas fa-calendar-alt"></i> Animes Planeados
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="anime_en_proceso.html">
                    <i class="fas fa-cogs"></i> Animes en Proceso
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="anime_vistos.html">
                    <i class="fas fa-eye"></i> Animes Vistos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="anime_abandonados.html">
                    <i class="fas fa-ban"></i> Animes Abandonados
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="anime_en_espera.html">
                    <i class="fas fa-clock"></i> Animes en Espera
                </a>
            </li>
        </ul>
    </div>
</nav>

